<a href="https://colab.research.google.com/github/rkdwogns/TIS/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
  print(i+1)

2
3
4
5
6
7
8
9
10
11

In [3]:
L = ["A", "B", "C"]
for i in L: # i가 L을 순회함
    print(i)

A
B
C

In [4]:
T = (1, 2, 3, 4, 5)

for t in T:
  x = t ** 2
  y = t ** 3
  print(t, x, y)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

In [7]:
# 연습문제
# 1부터 10까지 구성된 리스트를 대상으로 각각의 원소를 세제곱하고 3을 더한 다음 2로 나눈 결과값을 출력해 보시오.

l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
  x = (i ** 3 + 3) / 2
  print(x)

2.0
5.5
15.0
33.5
64.0
109.5
173.0
257.5
366.0
501.5

In [8]:
# n1 = [[1,2,3],[4,5,6],[7,8,9]] 리스트에서 각각의 요소를 반복문으로 출력해 보세요.
n1 = [[1,2,3],[4,5,6],[7,8,9]]
for a,b,c in n1:
  print(a,b,c)

1 2 3
4 5 6
7 8 9

In [9]:
# zip
A = [1, 2, 3]
B = ["A", "B", "C"]

for a, b in zip(A, B):
  print(a, b)

1 A
2 B
3 C

In [13]:
# 두 학급이 있는데 ["철수", "만수", "성호"], ["영희", "영자", "순이"]를 대상으로 "두 학급의 1번 학생은 철수와 영희입니다" 출력해 보세요.
class1 = ["철수", "만수", "성호"]
class2 = ["영희", "영자", "순이"]
for a, b in zip(class1, class2):
  print("두 학급의 학생은 {}와 {}입니다".format(a, b)) # {}에 끼워 넣을라면 .format()

두 학급의 학생은 철수와 영희입니다
두 학급의 학생은 만수와 영자입니다
두 학급의 학생은 성호와 순이입니다

In [15]:
# range 함수는 시작점, 끝점, 증가폭 (시작점 입력 안하면 0으로, 끝점은 마지막은 불포함, 증가폭 입력 안하면 1로)
print(list(range(1, 10, 1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
for i in range(5):
  print(i)

0
1
2
3
4

In [23]:
A = [1, 2, 3]
B = ["A", "B", "C"]

for i in range(len(A)):
  print(A[i], B[i])

1 A
2 B
3 C

In [25]:
# 연습문제: 아래 두 리스트에 대해서 A에는 각각의 원소를 제곱하시고, B에는 "입니다용"을 붙여서 출력해 보시오.
for i in range(len(B)):
  print(A[i]**2, B[i]+"입니다용")

1 A입니다용
4 B입니다용
9 C입니다용

In [30]:
L = ["A", "B", "C"]
for idx, value in enumerate(L):
  print(idx, "번 인덱스는" , value , "입니다용~~~")

0 번 인덱스는 A 입니다용~~~
1 번 인덱스는 B 입니다용~~~
2 번 인덱스는 C 입니다용~~~

In [31]:
for i in ["A", "B"]:
  print("첫 번째 반복문")
  print(i)
  for j in [1,2]:
    print(i,j)

첫 번째 반복문
A
A 1
A 2
첫 번째 반복문
B
B 1
B 2

In [38]:
A = [1, 2, 3]
B = ["A", "B", "C"]
L = [] # 코드의 결과물을 저장할 빈 리스트를 L에 저장. 이 작업을 "변수 초기화"라 한다
for a in A:
  print(a)
  for b in B:
    L.append((a,b))
    print(L)
print("최종결과:", L)

1
[(1, 'A')]
[(1, 'A'), (1, 'B')]
[(1, 'A'), (1, 'B'), (1, 'C')]
2
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C')]
3
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A'), (3, 'B')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A'), (3, 'B'), (3, 'C')]
최종결과: [(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A'), (3, 'B'), (3, 'C')]

In [44]:
# 구구단을 만들어 봅시다
for a in range(1, 10):
  print(a)
  for b in range(1, 10):
    print(f"{a} * {b} = {a*b}")
    # print("{} * {} = {}".format(a, b, a*b))도 가능

1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [46]:
for i in range(1,100+1):
  result = 0
  # result = result+i
  result += i
print(result)

100

In [47]:
even_sum = 0

for number in range(1,101):
  if number % 2 ==0:
    even_sum += number

print(even_sum)

2550

In [48]:
i = 1
a += i # a = a + i
a -= i # a = a - i
a *= i # a = a * i
a /= i # a = a / i

In [51]:
# while문
x = 1
while x <= 5:
  print(x)
  x += 1

1
2
3
4
5

In [52]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [53]:
n = 1
while 2**n < 10**8:
  n += 1
print(n)

27

In [59]:
n = 1
while True:
  if 2**n >= 10**8:
    break
  n += 1
print(n)

27

In [60]:
number_list = [number**2 for number in range(1,6)]
number_list

[1, 4, 9, 16, 25]

In [67]:
# 문자열로 구성된 리스트 ["축구", "농구", "배구"]의 각각의 원소에 '좋아해요'를 덧붙여서 리스트를 출력, 단, 리스트 컴프리헨션 사용
favorite_sports = [x + " 좋아해요" for x in ["축구", "농구", "배구"]]
favorite_sports

['축구 좋아해요', '농구 좋아해요', '배구 좋아해요']

In [68]:
a_list = [number for number in range(1,6) if number % 2 == 1]
a_list

[1, 3, 5]

In [69]:
dict_a = {i:i**2 for i in range(5)}
dict_a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [70]:
# 문제풀이 : 1부터 10까지의 숫자 리스트를 가지고, 짝수만을 대상으로 하되, 키는 각각의 숫자로, 값은 세제곱하는 딕셔너리를 생성하시오.
dict_a = {i:i**3 for i in range(1,11) if i % 2 == 0}
print(dict_a)

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}