<a href="https://colab.research.google.com/github/rkdwogns/TIS/blob/main/%EB%B0%B0%EC%97%B4%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#리스트
L = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]
#튜플
T = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

print(L, L2)
print(T, T2)

[1, 2, 3, 4] [5, 6, 7, 8]
(1, 2, 3, 4) (5, 6, 7, 8)

In [3]:
L = ["abc", 10, ["A", "B"], (1, 2, 3)]
L

['abc', 10, ['A', 'B'], (1, 2, 3)]

In [4]:
print(type(L))

<class 'list'>

In [6]:
# 인덱싱
print(L[0], L[1], L[2], L[-1])

# 리스트
L = ["A", "B", "C", "D", "E"]
print('0번째 요소: {}, 3번째 요소: {}'.format(L[0], L[3]))

abc 10 ['A', 'B'] (1, 2, 3)
0번째 요소: A, 3번째 요소: D

In [21]:
# 다음 리스트 변수 [1,2,3,"A", "B", True, [4,5,6]]의 첫번째, 세번째, 마지막번째 요소를 추출해 보세요.
# True는 L변수의 몇번째 인덱스인가? # 5번째 인덱스
L = [1,2,3,"A", "B", True, [4,5,6]]
print('첫번째 요소: {}, 세번째 요소: {}, 마지막번째 요소: {}'.format(L[0],L[2],L[-1]))
print(L.index(True, 1))

첫번째 요소: 1, 세번째 요소: 3, 마지막번째 요소: [4, 5, 6]
5

In [13]:
# 슬라이싱
# 마지막 요소는 포함시키지 않음
print(L[1:3])

[2, 3]

In [16]:
# 1. L을 대상으로 "B", "C", "D"를 슬라이싱을 이용하여 추출하시오
# 2. T를 대상으로 "C", "D"를 슬라이싱을 이용하여 추출하시오

L = ["A", "B", "C", "D", "E"]
T = ["A", "B", "C", "D", "E"]
print(L[1:-1])
print(T[2:4])

['B', 'C', 'D']
['C', 'D']

In [22]:
A = [[1,2,3],[4,5,6]]
print(A[0][1])

2

In [23]:
# A 리스트의 1번째 요소의 2번째 요소를 추출하시오.

A = [[1,2,3],[4,5,6]]
print(A[1][2])

6

In [24]:
# 리스트 연산자
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [29]:
# 리스트는 요소 변경이 가능하다.
L = ["A", "B", "C", "D", "E"]
L[0] = "X"
print(L)

['X', 'B', 'C', 'D', 'E']

In [30]:
# 반면 튜플은 요소 변경이 불가능하다
T = ("A", "B", "C", "D", "E")
T[0] = "Y"

TypeError: ignored

In [31]:
# append 메서드는 맨 마지막에 요소 추가한다.
X = [1, 2, 3]
X.append(4)
print(X)

[1, 2, 3, 4]

In [33]:
# 예제
# 기존 학급(class)이 "영희", "철수", "만수" 3명으로 구성된 학급이 있습니다.
# "영자"가 전학을 왔어요. 이 학급 리스트에 영자를 가장 끝에 추가해 보세요.
class1 = ["영희", "철수", "만수"]
class1.append("영자")
print(class1)

['영희', '철수', '만수', '영자']

In [34]:
# 순서대로 인덱스(=삽입할 위치)와 삽입할 값을 입력
L = [1, 3, 4, 5]
L.insert(1, 2)
print(L)

[1, 2, 3, 4, 5]

In [35]:
# "영자"를 "영희" 뒤에 끼워넣기

class1 = ["영희", "철수", "민수"]
class1.insert(1, "영자")
print(class1)

['영희', '영자', '철수', '민수']

In [36]:
# 가장 최근꺼만 제거됨
L = [3, 1, 2, 3, 2, 3]
L.remove(3)
print(L)

[1, 2, 3, 2, 3]

In [38]:
# pop은 인덱스를 입력받아 해당 인덱스에 있는 요소를 제거합니다.
L = [1, 2, 3]
L.pop(0)
print(L)

[2, 3]

In [39]:
# 아무것도 입력하지 않으면 맨 마지막 요소가 제거됩니다.
L = [1, 2, 3]
L.pop()
print(L)

[1, 2]

In [40]:
A = ["a", "b", "c", "d"]
i = 1
print(A[:i] + A[i+1:])

['a', 'c', 'd']

In [41]:
L = ["a", "b", 1, 2]
T = (1, 2, 3)
print(len(L), len(T))

4 3

In [43]:
# 퀴즈: L의 0번째 요소의 길이를 구하시오
L = [[1, 2, 3],[4, 5, 6]]
print(len(L[0]))

3

In [50]:
L = [[1, 2, 3, [10, 20, 30, 40, 50]], [4, 5, 6]]
print(len(L[0][3]))

5

In [51]:
L[0][3][:4]

[10, 20, 30, 40]

In [52]:
(a, b, c) = (1, 2, 3)
print(a, b, c)

1 2 3

In [55]:
(a, b) = (b, a)
print(a, b)

2 1

In [56]:
T = 1, 2, 3

print(type(T))
print(T)

<class 'tuple'>
(1, 2, 3)

In [57]:
# 리스트 정렬 sort
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [58]:
a.reverse()
a

[4, 3, 2, 1]

In [60]:
# 요소 개수 세기 count
a.count(3)

1

In [62]:
a = [1, 2, 3]
a.extend([4,5,6])
a

[1, 2, 3, 4, 5, 6]

In [63]:
# 딕셔너리
x = {"A": 1, "B": 2, "C": 3}
print(x["C"])

3

In [64]:
x["D"] = 4
print(x)

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [77]:
# 여러분의 이름과 거주하는 동이름과 좋아하는 색깔을 딕셔너리 변수로 만들어 보세요.
my_profile = {"name": "jaehuuuuuuun", "dong": "hyosung", "color": "green"}
print(my_profile)

# 기존 프로필에 좋아하는 숫자로 추가해 보세요.
my_profile["number"] = 3
print(my_profile)

# 잘못 기입한 이름을 옳게 수정해 보세요
my_profile["name"] = "jaehun"
print(my_profile)

# 이름은 민감한 개인 정보라서 삭제해 달라는 요청을 받았습니다. 삭제해 보세요.
del my_profile["name"]
print(my_profile)

# 좋아하는 운동 2가지를 "favorite_sports"라는 키로 추가해 보세요
my_profile["favorite_sport"] = {1:"basketball", 2:"soccer"}
print(my_profile)

{'name': 'jaehuuuuuuun', 'dong': 'hyosung', 'color': 'green'}
{'name': 'jaehuuuuuuun', 'dong': 'hyosung', 'color': 'green', 'number': 3}
{'name': 'jaehun', 'dong': 'hyosung', 'color': 'green', 'number': 3}
{'dong': 'hyosung', 'color': 'green', 'number': 3}
{'dong': 'hyosung', 'color': 'green', 'number': 3, 'favorite_sport': {1: 'basketball', 2: 'soccer'}}

In [79]:
X = {"A": 1, "B": 2, "C": 3}
print(X.keys())
print(X.values())
print(X.items())

dict_keys(['A', 'B', 'C'])
dict_values([1, 2, 3])
dict_items([('A', 1), ('B', 2), ('C', 3)])

In [80]:
# set 함수는 중복을 허락하지 않는다.
S1 = {1, 2, 3, 2, 1}
S2 = set([1, 2, 3, 2, 1])
print(S1, S2)

{1, 2, 3} {1, 2, 3}

In [81]:
L = [1, 2, 3, 1, 2, 3]
print(set(L))

{1, 2, 3}

In [85]:
# 형변환(자료형 변환)
a = 1
b = 2.0

a_float = float(a)
print(a_float)

b_int = int(b)
print(b_int)

# 튜플 --> list
t = 1, 2, 3
t_list = list(t)
print(t_list)

# 리스트 --> 튜플
t_again = tuple(t_list)
print(t_again)

1.0
2
[1, 2, 3]
(1, 2, 3)