<a href="https://colab.research.google.com/github/rkdwogns/TIS/blob/main/%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
cond = False

if cond:
  print(1+2)
else:
    print(3+4)

7

In [6]:
cond = 3>1
print(cond)
if 3>1:
  print("10분 쉽시다")
else:
  print("그냥 계속 합시다")

True
10분 쉽시다

In [12]:
print(3 < 2)
print(3 == 3)
print(2+2 != 5)
print(len("ABC") >= 2)
print(1 in [1,2,3,4])
print(1 not in [1,2,3,4])
print((3>1) & (3<2))
print((3>1) | (3<2))
if (3>1) | (3<2):
  print("집에 갑시다")
else:
  print("집에 안가고 밤새 코딩 공부합시다.")

False
True
True
True
True
False
False
True
집에 갑시다

In [13]:
L = [1, 2, 3]
S = "abcde"
D = {"A":1, "B":2, "C":3}

print(1 in L)
print(2 not in L)
print("abc" in S)
print("ac" in S)
print("A" in D.keys())

True
False
True
False
True

In [14]:
D = {"B": 30}
if "A" not in D.keys():
  D["A"] = 0
if "B" not in D.keys():
  D["B"] = 0
if "C" not in D.keys():
  D["C"] = 0
print(D)

{'B': 30, 'A': 0, 'C': 0}