<a href="https://colab.research.google.com/github/rkdwogns/TIS/blob/main/%EC%A7%91%EA%B3%84%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
s1 = pd.Series([1,2,3,4], index=[1,2,3,4])
s2 = pd.Series([4,3,2,1], index=[4,3,2,1])

In [2]:
display(s1-s2)

1    0
2    0
3    0
4    0
dtype: int64

In [3]:
# 연습문제:
# 아래 데이터 프레임에 대해 각 칼럼의 값(=같은 인덱스의 값)들을 평균한 새로운 칼럼(칼럼명: '평균')을 생성하시오.
df = pd.DataFrame({"A": [1, 2, 3, 4], "B": [5, 6, 7, 8], "C": [3, 4, 5, 6]})
df['평균'] = (df['A'] + df['B'] + df['C'])/3
df

   A  B  C   평균
0  1  5  3  3.0
1  2  6  4  4.0
2  3  7  5  5.0
3  4  8  6  6.0

In [4]:
def square(x):
  return x**2
display(df["A"].apply(square))

0     1
1     4
2     9
3    16
Name: A, dtype: int64

In [10]:
# 연습문제
# 다음 데이터프레임의 "A" 컬럼에서 "B" 컬럼을 뺀 다음 그 결과에 절대값을 취한 값들로 이루어진 새로운 "C" 칼럼을 생성하시오.
# 조건: apply 메서드 활용
import numpy as np
df = pd.DataFrame(np.random.rand(12).reshape(6,2), columns=['A', 'B'])
df['C'] = (df['A'] - df['B'])
def f(x):
  return np.abs(x)
display(df.apply(f))

          A         B         C
0  0.601919  0.780412  0.178493
1  0.705926  0.114099  0.591827
2  0.246381  0.705630  0.459249
3  0.136025  0.002025  0.134000
4  0.999818  0.006504  0.993314
5  0.680995  0.012958  0.668038

In [11]:
# 람다 함수 적용
# 1~5 인덱스별 최대치와 최소치의 차 구하기
df.apply(lambda x:x.max() - x.min(), axis=1)

0    0.958906
1    0.591827
2    1.164879
3    0.134000
4    0.993314
5    0.668038
dtype: float64