<a href="https://colab.research.google.com/github/rkdwogns/TIS/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
s2 = pd.Series([10, 20, 30])
display(s2)

0    10
1    20
2    30
dtype: int64

In [13]:
# 연습문제
# 다음 조건을 만족하는 시리즈를 생성하시오.
# 값은 1~20으로 구성되어 있고, 인덱스는 'A1'~ 'A20'으로 함
l = []
for i in range(1,21):
  l= l+[f"A{i}"]
display(pd.Series(range(1,21), index = l))

A1      1
A2      2
A3      3
A4      4
A5      5
A6      6
A7      7
A8      8
A9      9
A10    10
A11    11
A12    12
A13    13
A14    14
A15    15
A16    16
A17    17
A18    18
A19    19
A20    20
dtype: int64

In [14]:
s1 = pd.Series([1,2,3], index=[1,2,3])
s2 = pd.Series(['1','2','3'], index=[1,2,3])
print(s1, s2)

1    1
2    2
3    3
dtype: int64 1    1
2    2
3    3
dtype: object

In [22]:
df2 = pd.DataFrame([[1,2], [3,4]], index=["first index", "second index"], columns=["col1", "col2"])
display(df2)

              col1  col2
first index      1     2
second index     3     4

In [23]:
df2.index

Index(['first index', 'second index'], dtype='object')

In [24]:
df2.columns

Index(['col1', 'col2'], dtype='object')

In [27]:
df3 = pd.DataFrame({"1번 학생": [1,2,3], "2번 학생": [4,5,6]}, index=["x", "y", "z"])
display(df3)

   1번 학생  2번 학생
x      1      4
y      2      5
z      3      6

In [32]:
# 연습문제1
# 다음 학생들의 과목별 성적이 다음과 같습니다.
# "중첩리스트" 구조를 활용하여 데이터프레임을 생성해 보세요.
# 영희 국,영,수 성적: 80, 90, 100
# 철수 국,영,수 성적: 86, 91, 93
# 영자 국,영,수 성적: 50, 90, 10
df1 = pd.DataFrame([[80, 90, 100], [86, 91, 93], [50, 90, 10]], index=['영희', '철수', '영자'], columns=['국어','영어','수학'])
display(df1)
# 연습문제2
# 연습문제1과 같은 상황입니다.
# "딕셔너리" 구조를 활용하여 데이터프레임을 생성해 보세요.
df2 = pd.DataFrame({'영희': [80,90,100], '철수': [86,91,93], '영자': [50,90,10]}, index=['국어', '영어', '수학'])
display(df2)
# 연습문제3: 다음 주간 식단을 데이터프레임 데이터 구조로 만들어 보세요.
# 월요일 밥,국,디저트: ‘쌀밥‘, ‘김치찌게‘, ‘샐러드’
# 화요일 밥,국,디저트: ‘잡곡밥‘, ‘된장찌게‘, ‘딸기맛 아이스크림’
# 수요일 밥,국,디저트: ‘쌀밥‘, ‘아욱국‘, ‘오렌지주스’
# 목요일 밥,국,디저트: ‘잡곡밥‘, ‘미역국‘, ‘바나나맛 아이스크림’
# 금요일 밥,국,디저트: ‘쌀밥‘, ‘소고기국‘, ‘포도주스’
df3 = pd.DataFrame({'밥': ['쌀밥', '잡곡밥', '쌀밥', '잡곡밥', '쌀밥'], '국': ['김치찌개', '된장찌개', '아욱국', '미역국', '소고기국'],
                    '디저트': ['샐러드', '딸기맛 아이스크림', '오렌지주스', '바나나맛 아이스크림', '포도주스']}, index=['월요일','화요일','수요일','목요일','금요일'])
display(df3)

    국어  영어   수학
영희  80  90  100
철수  86  91   93
영자  50  90   10

     영희  철수  영자
국어   80  86  50
영어   90  91  90
수학  100  93  10

       밥     국         디저트
월요일   쌀밥  김치찌개         샐러드
화요일  잡곡밥  된장찌개   딸기맛 아이스크림
수요일   쌀밥   아욱국       오렌지주스
목요일  잡곡밥   미역국  바나나맛 아이스크림
금요일   쌀밥  소고기국        포도주스

In [33]:
msg_list = ["numpy", "pandas", "matplotlib"]
data = [] # 초기화

for msg in msg_list:
  record = [msg]
  for x in ["a", "p", "n"]:
    record.append(msg.count(x))
  data.append(record)
data = pd.DataFrame(data, columns=["message", "a", "p", "n"])
display(data)

      message  a  p  n
0       numpy  0  1  1
1      pandas  2  1  1
2  matplotlib  1  1  0